@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.establishment-card {
    cursor: pointer;
    padding: 1rem 1.5rem;
    width: 27rem;
    margin-bottom: 1.5rem;
    border-radius: $border-radius;
    border: 0.09375rem solid $sec-accent-clr-2;
    @include row-flexer(space-between);
    gap: 1.5rem;

    &:hover {
        // background-color: rgba(46, 102, 229, .07);
        border: 0.09375rem solid $sec-accent-clr-1;
    }

    &--active {
        border: 0.09375rem solid $sec-accent-clr-1;
        background-color: rgba(46, 102, 229, .07);
    }

    &__name {
        font-size: 1.125rem;
        font-weight: 600;
    }

    &__address {
        color: $prim-accent-clr-2;
        font-size: $fs-label;
    }

    &__score {
        font-size: $fs-label;
        background-color: $prim-accent-clr-2;
        color: $sec-accent-clr-3;
        width: 2rem;
        text-align: center;
        padding: .25rem;
        border-radius: $border-radius;
    }

    &__status {
        padding: 1rem;
        color: #fff;
        width: fit-content;
        border-radius: $border-radius;
        font-weight: 600;
        font-size: $fs-label;

        &--pass {
            background-color: $tertiary-clr-1;
            padding: 1rem 1.5rem;
        }

        &--conditional-pass {
            background-color: $secondary-clr;
            min-width: 9.5rem;
        }

        &--closed {
            background-color: $primary-clr;
        }
    }
}