@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.sign-up {
    @include row-flexer();
    gap: 8rem;
    margin: 25vh 22vw;

    &__about {
        height: 20rem;

        &__title {
            font-size: $fs-header;
            font-weight: 600;
        }

        &__content {
            line-height: $lh-body;
        }

        &__quote {
            font-style: italic;
            font-size: $fs-subheader;
            color: $prim-accent-clr-1;
        }
    }

    &__form {
        @include col-flexer;
        gap: .5rem;
        width: 20rem;

        &__input {
            height: 2.5rem;
            padding: 0 .5rem;
            outline: none;
            border: 0.09375rem solid $sec-accent-clr-2;
            border-radius: .25rem;

            &:focus {
                border: 0.09375rem solid $prim-accent-clr-1;
            }
        }

        &__label {
            font-weight: 500;
            font-size: $fs-subheader;

            sup {
                color: $prim-accent-clr-3;
            }
        }

        &__button {
            margin-top: 1rem;
            background-color: $primary-clr;
            height: 2.5rem;
            cursor: pointer;
            color: #fff;
            border: none;
            font-weight: bold;
            font-size: 1rem;
            border-radius: .25rem;

            &:hover {
                background-color: $primary-clr-mono;
            }
        }
    }

    &__message {
        font-size: $fs-subheader;
        border-left: 5px solid $prim-accent-clr-1;
        padding: 0.75rem;
        margin-top: $space-between-mob;

        &--error {
            border-left: 5px solid $prim-accent-clr-3;
        }

        &__link {
            text-decoration: none;
            color: $prim-accent-clr-1;
        }
    }

    &__login {
        text-align: center;
        margin-top: 2rem;

        &__link {
            text-decoration: none;
            color: $prim-accent-clr-1;

            &:hover {
                color: $sec-accent-clr-1;
            }
        }
    }
}