@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    margin-bottom: $space-bottom * 2;
    background-color: rgb(28, 28, 28);
    box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(19, 24, 44, 0.1);

    &-wrapper {
        @include row-flexer(space-between);
        width: 85vw;
        margin: 0 auto;
        padding: $space-between-mob 0;
    }

    &__link {
        cursor: pointer;
        text-decoration: none;
        color: $primary-clr;
        color: #fff;
        font-size: 1.75rem;
        font-weight: 500;
        display: block;
    }


    &__input {
        height: 2.5rem;
        width: 50%;
        padding: 0 .5rem;
        outline: none;
        border: 0.09375rem solid $sec-accent-clr-2;
        border-radius: .25rem;

        &:focus {
            border: 0.09375rem solid $prim-accent-clr-1;
            background-color: hsl(205, 100%, 60%, 25%);
            color: #fff;
        }
    }

    &__buttons {
        @include row-flexer();
        gap: 1rem;

        .or {
            font-weight: 600;
            font-size: $fs-label;
            color: #fff;

            &--landing {
                color: $primary-clr-mono;
            }
        }
    }

    &__button {
        height: 2.5rem;
        width: 8rem;
        cursor: pointer;
        color: #fff;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        border-radius: .25rem;

        &--login {
            background-color: $prim-accent-clr-1;

            &:hover {
                background-color: $sec-accent-clr-1;
            }
        }

        &--register {
            background-color: $primary-clr;

            &:hover {
                background-color: $primary-clr-mono;
            }
        }
    }

    &__user-profile {
        width: 10rem;
        color: $sec-accent-clr-1;
    }
}