@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.login {
    &-wrapper {
        @include col-flexer(center);
        margin: 30vh 0;
    }

    &__form {
        @include col-flexer();
        gap: 1rem;
        width: 20rem;

        &__input {
            height: 2.5rem;
            padding: 0 .5rem;
            outline: none;
            border: 0.0625rem solid $sec-accent-clr-2;
            border-radius: .25rem;

            &:focus {
                border: 0.0625rem solid $prim-accent-clr-1;
            }
        }

        &__button {
            height: 2.5rem;
            cursor: pointer;
            color: #fff;
            border: none;
            font-weight: bold;
            font-size: 1rem;
            border-radius: .25rem;
            background-color: $prim-accent-clr-1;

            &:hover:not(.login__form__button--sign-up) {
                background-color: $sec-accent-clr-1;
            }

            &--sign-up {
                background-color: $primary-clr;
                width: 20rem;

                &:hover {
                    background-color: #fff;
                    color: $primary-clr;
                    border: 0.0625rem solid $primary-clr;
                }
            }
        }

        &__message {
            font-size: $fs-subheader;
            border-left: 5px solid #FF0095;
            padding: 0.75rem;
            margin-top: $space-between-mob;
        }
    }

    &__link {
        text-decoration: none;
        color: $prim-accent-clr-1;
        font-size: $fs-label;
        text-align: center;
        margin: $space-between-mob;

        &:hover {
            color: $sec-accent-clr-1;
        }
    }
}