@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.landing {
    height: 100vh;
    background-image: radial-gradient(circle at center,
            $prim-accent-clr-2 0.025rem,
            transparent 0);
    background-size: 1rem 1rem;
    background-repeat: round;

    &-header {
        background-color: rgb(28, 28, 28);
        box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(19, 24, 44, 0.1);
    }

    &-wrapper {
        width: 85vw;
        margin: 0 auto;
    }

    &__brief {
        color: $primary-clr-mono;
        width: 60%;
        margin: 1rem auto 3rem;
        padding-top: 3rem;
        text-align: center;
        line-height: 1.5rem;

        span {
            font-size: $fs-header;
            font-weight: 600;
            padding: 0 .5rem;
        }
    }


    .learn-more {
        @include row-flexer(flex-end);

        &__link {
            text-decoration: none;
            color: $sec-accent-clr-1;
            font-weight: 600;
            font-size: .8rem;
            width: fit-content;
            padding-bottom: .25rem;
            transition: .25s ease;

            &:hover {
                font-size: 1rem;
            }
        }
    }
}

.about {
    @include row-flexer(center);
    align-items: flex-start;
    gap: $space-between * 2;
    color: #fff;

    &__status {
        width: calc(100% / 3);
        border-radius: $border-radius;
        height: fit-content;
        padding: $space-between;
        border: 0.09375rem solid $primary-clr-mono;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);

        &__title {
            font-weight: 600;
            font-size: $fs-subheader;
            color: #fff;
            width: fit-content;
            border-radius: $border-radius;
            padding: 1rem;
            margin-bottom: $space-bottom;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &--pass {
                background-color: $tertiary-clr-1;
            }

            &--conditional {
                background-color: $secondary-clr;
                min-width: 9.5rem;
            }

            &--closed {
                background-color: $primary-clr;
            }
        }

        &__subheader {
            font-size: $fs-subheader;
            font-weight: 600;
            color: $prim-accent-clr-3;
        }

        &__detail {
            font-size: $fs-subheader;
            list-style: inside;
            line-height: $lh-body;
            color: $primary-clr-mono;
            margin-bottom: .5rem;
        }
    }
}