@use './styles/partials/typography' as *;
@use './styles/partials/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  box-sizing: inherit;
  margin: 0;
  font-family: $ff-primary;
  color: $primary-clr;
}

::placeholder,
input {
  font-family: Rubik, sans-serif;
}