@use './styles/partials/typography' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
  font-family: $ff-primary;
  color: $primary-clr;
}

::placeholder,
input {
  font-family: $ff-primary;
}

.content-width-wrapper {
  @include large-desktop {
    max-width: $content-max-width;
    margin: 0 auto;
  }
}