@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.main {
    &-wrapper {
        width: 85vw;
        margin: 0 auto;
    }
}


.results__matches {
    font-weight: 600;
    color: $sec-accent-clr-1;
    margin-bottom: $space-bottom * 1.5;
    padding-bottom: $space-bottom-mob;
    border-bottom: 0.09375rem solid $sec-accent-clr-2;
}